.panel-title-icon {
	margin-top: 0px;
	font-size: 52px;
	margin-right: 4px;
}

.panel-title-title {
	margin-top: 4px;
}

.panel-content-type {
	margin-top: 4px;
	margin-right: 8px;
	margin-left: 8px;
}

.panel-content-slider {
	margin: 0px;
	padding: 0px;
}

.input-label {
	margin: 0 0 0 8px;
	padding: 0px;
}

.success-badge {
	width: 20px;
	height: 20px;
	margin: 0 0 0 8px;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border: 1px solid lightgray;
	color: black;
}
